/*-------Header-----*/
.header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #484444;
    color: white;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 0px 50px black;
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.headtext {
    padding-left: 50px;
    display: inline;
    float: left;
}
a:link {
    color:white;
}
a:hover {
    color: #fff900;
}
a:visited {
    color: white;
}
/*------------body---------------*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    background-color: black;
}
/*---------about----------*/
.title {
    text-decoration: underline;
    color: white;
    text-align: center;
}
.about {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}
.logo {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.desc {
    color: white;
    text-align: center;
}
/*-------My Work--------*/
.mywork {
    background-color: #484444;
    display: flex;
    color: white;
}
.flexwspodnie{
    flex-direction: column;
}
.aboutservices {
    text-align: center;
}
.podtalk {
    margin-right: 15px;
    width: 50%;
}
.buttonservices {
    
}
/*-------footer---------*/

.bottom {
    display: flex;
    justify-content: center;
}